@model IEnumerable<PROG3050_HMJJ.Areas.Admin.Models.Event>

@{
    ViewData["Title"] = "Your Event Registrations";
}

<h1>@ViewData["Title"]</h1>

@if(TempData["Cancelled"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Cancelled"]
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                    <form method="post" asp-action="DeleteEvent" asp-controller="Home" asp-area="Member">
                        <button type="submit" asp-area="Member" asp-action="DeleteEvent" asp-controller="Home" class="btn btn-danger" asp-route-id="@item.eventID">Cancel</button>
                    </form>

            </td>
        </tr>
}
    </tbody>
</table>
