@model List<PROG3050_HMJJ.Areas.Admin.Models.GamesViewModel>

@{
    
}

<h1>Based On Your Selected Genres:</h1>

<div id="carouselGenres" class="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model[0].Title</h5>
                    <p class="card-text">
                        @Model[0].Description
                    </p>
                    <p class="card-text">
                        @Model[0].Price.ToString("C")
                    </p>
                    <a asp-action="Details" asp-controller="Home" class="btn btn-primary" asp-route-id="@Model[0].ID">Details</a>
                </div>
            </div>
        </div>
        @for (int i = 1; i <= Model.Count - 1; i++)
        {
            <div class="carousel-item">

                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">@Model[i].Title</h5>

                        <p class="card-text">
                            @Model[i].Description
                        </p>

                        <p class="card-text">
                            @Model[i].Price.ToString("C")
                        </p>

                        <a asp-action="Details" asp-controller="Home" class="btn btn-primary" asp-route-id="@Model[i].ID">Details</a>
                    </div>

                </div>
            </div>
        }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGenres" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselGenres" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
