@model PROG3050_HMJJ.Areas.Admin.Models.GamesViewModel
@using Microsoft.AspNetCore.Identity
@using PROG3050_HMJJ.Models.Account;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Game Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
            @if(Model.AverageRating != null) {
                <span>&nbsp;&#40;@Html.DisplayFor(model => model.AverageRating)&#41;&nbsp;</span>
                @switch (Math.Round((double)Model.AverageRating + 0.05))
                {
                    case 5:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        break;
                    case 4:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        break;
                    case 3:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        break;
                    case 2:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        break;
                    case 1:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        break;
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GamePlatform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GamePlatform)
        </dd>
    </dl>
</div>
<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Game Reviews
    </div>
    <div class="card-body">
        @if (Model.ApprovedReviews.Any())
        {
            foreach (var review in Model.ApprovedReviews)
            {
                    <p>@review.CommentText</p>
                    <small class="text-muted">Posted by @review.UserId on @review.Timestamp.ToShortDateString()</small>
                    <hr>
                    <!-- Optionally display more information about the review -->
            }
        }
        else
        {
            <p>There are no reviews yet. Be the first one to review!</p>
        }
    
    <!--Add the approved reviews here-->
        @{
            // Generate a new GUID and convert it to a string
            string newCommentId = Guid.NewGuid().ToString();
            string gametitle = Model.Title;
        }
    
        <form asp-action="SubmitReview" asp-area="Member" asp-controller="Home" method="post">
            <input type="hidden" asp-for="NewReview.GameId" />
            <input type="hidden" asp-for="NewReview.CommentId" value="@newCommentId"/>
            <input type="hidden" asp-for="NewReview.GameName" value="@gametitle" />
            <input type="hidden" asp-for="NewReview.UserId" value="@ViewBag.CurrentUsername" />@* @UserManager.GetUserName(User) *@
            <div class="form-group">
                <label asp-for="NewReview.CommentText">Leave a Comment</label>
                <textarea asp-for="NewReview.CommentText" class="form-control" rows="3" placeholder="Leave your comment here"></textarea>
                <span asp-validation-for="NewReview.CommentText"></span>
            </div>

            <button class="btn btn-success" type="submit">Submit your Comment</button>
        </form>
    </div>
</div>
<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Game Ratings
    </div>
    <div class="card-body">
        @if (Model.Ratings.Any())
        {
            foreach (var rating in Model.Ratings)
            {
                switch (rating.Value)
                {
                    case 5:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        break;
                    case 4:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        break;
                    case 3:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        break;
                    case 2:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        break;
                    case 1:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        break;
                }
                <br />
                <small class="text-muted">Posted by @rating.UserName</small>
                <hr>
                <!-- Optionally display more information about the rating -->
            }
        }
        else
        {
            <p>There are no ratings yet. Be the first one to rate!</p>
        }

        <!--Add the approved ratings here-->

        <form asp-action="SubmitRating" class="star-rating" asp-area="Member" asp-controller="Home" method="post">
            <input type="hidden" asp-for="NewRating.GameID" />
            <input type="hidden" asp-for="NewRating.UserName" value="@ViewBag.CurrentUsername" />
            <p>Enter Rating: </p>
            <div class="form-group">
                <input asp-for="NewRating.Value" class="radio-input" type="radio" id="star5" value="5" />
                <label asp-for="NewRating.Value" class="radio-label" for="star5" title="5 stars">5 stars</label>

                <input asp-for="NewRating.Value" class="radio-input" type="radio" id="star4" value="4" />
                <label asp-for="NewRating.Value" class="radio-label" for="star4" title="4 stars">4 stars</label>

                <input asp-for="NewRating.Value" class="radio-input" type="radio" id="star3" value="3" />
                <label asp-for="NewRating.Value" class="radio-label" for="star3" title="3 stars">3 stars</label>

                <input asp-for="NewRating.Value" class="radio-input" type="radio" id="star2" value="2" />
                <label asp-for="NewRating.Value" class="radio-label" for="star2" title="2 stars">2 stars</label>

                <input asp-for="NewRating.Value" class="radio-input" type="radio" id="star1" value="1" />
                <label asp-for="NewRating.Value" class="radio-label" for="star1" title="1 star">1 star</label>
            </div>

            <button class="btn btn-success" type="submit">Submit your Rating</button>
        </form>

    </div>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index">Back to List</a>
</div>
@if (TempData["ReviewMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["ReviewMessage"]
    </div>
}
@if (TempData["RatingsMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["RatingsMessage"]
    </div>
}
