@model IEnumerable<PROG3050_HMJJ.Areas.Admin.Models.Game>

@{
    ViewData["Title"] = "CVGS Games";
    
}

<h1>CVGS Collections</h1>

<p>
    <a class="btn btn-primary" asp-action="Add">Add New Game</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price($)</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @if(Model.ToList() == null)
        {
            <tr>
                <td>No games in collection</td>
            </tr>
        }

        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.gameID}) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
        }
        
}
    </tbody>
</table>
